{% extends 'AdminApp/layout.html' %}

 {% block content %}

<h1 class="text-center font-weight-bold text-primary mb-2">REJECTED FILES</h1>
<div class="container-fluid">
 <div class="row">
        <div class="col-md-12 table-responsive">
        <table border="1" class="table tabel=bordered ">
            <tr class="table-active">
                <th>ACTION</th>
                <th>USER ID</th>
                <th>USER NAME</th>
                <th>CUSTOMER NAME</th>
                <th>CUSTOMER MOBILE</th>
                <th>REQ AMOUNT</th>
                <th>DATE</th>
                <th>STATUS</th>


            </tr>
            {% for loan in loan_object %}
          <tr>
              <td>
                  <a href="/FinanceAdmin/view_loan/{{loan.id}}" > <button  class="btn btn-info btn-sm m-1"><i class="fa-sharp fa-solid fa-eye"></i></button></a>

              </td>
              <td>{{loan.user_id}}</td>
              <td>{{loan.user_name}}</td>
              <td>{{loan.customer_name}}</td>
              <td>{{loan.customer_mobile}}</td>
              <td>{{loan.request_amount}}</td>
              <td>{{loan.action}}</td>
              <td>{{loan.status}}</td>
          </tr>
            {% endfor %}
           {% if not loan_object %}
            <tr class="text-center p-5" >
                <th colspan="8" rowspan="3" >Data Not Found</th>
            </tr>
            {% endif %}

        </table>

    </div>
 </div>
</div>
<script>
  function showMessage(msg){
     alert(msg)
  }
  {% for message in messages %}
  {% if message %}
  showMessage('{{message}}')
  {% endif %}
  {% endfor %}

</script>

{% endblock %}
