{% extends 'FinanceApp/layout.html' %}
{% block title %}
<p>finance-emi </p>
{% endblock %}

{% block content %}
<div >
    {% if not emi %}
 <div style="height:500px" class="container">
     {% else %}
     <div  class="container">
     {% endif %}
  <div class="row justify-content-center ">
   <div class="col-md-12">
    <h2 class="text-primary  text-center mt-5 font-weight-bold">Your EMI Schedule</h2>
<table class="table table-light  table-bordered ">
    <tr class="table-active">
        <th>SR NO</th>
        <th>Due Date</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    {% for em in emi %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ em.due_date }}</td>
        <td>₹{{ em.emi_amount }}</td>
        <td>{% if em.is_paid %}Paid on {{ em.payment_date }}{% else %}Pending{% endif %}</td>
        <td>
            {% if not em.is_paid %}
            <a href="/pay_emi/{{em.id}}"><button class="btn btn-sm btn-success m-1">Pay Now</button></a>

            {% else %}
            ✅
            {% endif %}
        </td>
    </tr>
    {% endfor %}
         {% if not emi %}
            <tr class="text-center p-5" >
                <th colspan="10" rowspan="3" >Data Not Found</th>
            </tr>
            {% endif %}
</table>

   </div>
  </div>
 </div>
</div>


<script>
 function showMessage(msg){
     alert(msg)
  }
  {% for message in messages %}
  {% if message %}
  showMessage('{{message}}')
  {% endif %}
  {% endfor %}

</script>
{% endblock %}
