{% extends 'FinanceApp/layout.html'%}
{% load static %}

{% block title %}
<title>Finance-update</title>
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<br><br><br><br>
<br>
<h1 class="text-center font-weight-bold text-primary">Update Loan File</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 rounded-2 p-3" style="background-color:rgba(255, 255, 255,0.8)">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <center><button class="btn btn-primary" type="submit">Update Loan File</button></center>
            </form>
        </div>
    </div>
</div>
<br><br><br><br>
<script>

document.addEventListener('DOMContentLoaded', function () {
    const loanTypeSelect = document.querySelector('[name="loan_type"]');
    const interestInput = document.querySelector('[name="interest"]');

    const loanTypes = {
        {% for type in type_obj %}
            "{{ type.id }}": "{{ type.interest_rate }}",
        {% endfor %}
    };

    if (loanTypeSelect && interestInput) {
        loanTypeSelect.addEventListener('change', function () {
            const selectedId = this.value;
            interestInput.value = loanTypes[selectedId] || "";
        });
    }
});
</script>

{% endblock %}